@import "nord.scss";

$defaultTagBackgrounds: $nord11, $nord12, $nord13, $nord14, $nord15;
$defaultTagColors: $nord6, $nord6, $nord6, $nord6, $nord6;

/*
*   Global style
*/
:root {
    --main-top-padding: 35px;

    @include respond(xl) {
        --main-top-padding: 50px;
    }

    --body-background: #{$nord6};

    --accent-color: #{$nord8};
    --accent-color-darker: #{$nord7};
    --accent-color-text: #{$nord6};
    --body-text-color: #{$nord2};

    --tag-border-radius: 4px;

    --section-separation: 60px;

    --scrollbar-thumb: #{$nord4};
    --scrollbar-track: var(--body-background);

    --show-in-light: inline;
    --show-in-dark: none;

    &[data-scheme="dark"] {
        --body-background: #{$nord0};
        --accent-color: #{$nord8};
        --accent-color-darker: #{$nord7};
        --accent-color-text: #{$nord6};
        --body-text-color: #{$nord4};
        --scrollbar-thumb: #{$nord3};
        --scrollbar-track: var(--body-background);

        --show-in-light: none;
        --show-in-dark: inline;
    }
}

/**
*   Global font family
*/
:root {
    --base-font-family: sans-serif;
    --unifont-family: "Unifont", sans-serif;
    --code-font-family: monospace;
}

/*
*   Card style
*/
:root {
    --card-background: #fff;
    --card-background-selected: #{$nord6};

    --card-text-color-main: #{$nord0};
    --card-text-color-secondary: #{$nord2};
    --card-text-color-tertiary: #{$nord3};
    --card-separator-color: #{$nord4};

    --card-border-radius: 10px;

    --card-padding: 20px;

    @include respond(md) {
        --card-padding: 25px;
    }

    @include respond(xl) {
        --card-padding: 30px;
    }

    --small-card-padding: 25px 20px;

    @include respond(md) {
        --small-card-padding: 25px;
    }

    &[data-scheme="dark"] {
        --card-background: #{$nord1};
        --card-background-selected: #{$nord2};
        --card-text-color-main: #{$nord6};
        --card-text-color-secondary: #{$nord5};
        --card-text-color-tertiary: #{$nord4};
        --card-separator-color: #{$nord3};
    }
}

/**
*   Article content font settings
*/
:root {
    --article-font-family: var(--base-font-family);
    --article-font-size: 1.6rem;

    @include respond(md) {
        --article-font-size: 1.7rem;
    }

    --article-line-height: 1.85;
}

/*
*   Article content style
*/
:root {
    --blockquote-border-size: 8px;
    --blockquote-background-color: #{$nord6};

    --heading-border-size: 4px;

    --link-background-color: 229, 233, 240;
    --link-background-opacity: 0.5;
    --link-background-opacity-hover: 0.7;

    --code-background-color: #{$nord6};
    --code-text-color: #{$nord3};

    --highlight-background-color: #{$nord0};

    --table-border-color: #{$nord4};
    --tr-even-background-color: #{$nord6};

    --kbd-border-color: #{$nord3};

    --mark-background-color: #{$nord13};
    --mark-text-color: #{$nord0};

    &[data-scheme="dark"] {
        --blockquote-background-color: #{$nord0};

        --link-background-color: 46, 52, 64;

        --code-background-color: #{$nord0};
        --code-text-color: #{$nord4};

        --highlight-background-color: #{$nord0};

        --table-border-color: #{$nord4};
        --tr-even-background-color: #{$nord2};

        --kbd-border-color: #{$nord4};
    }
}

/*
*   Shadow style
*   Thanks to https://www.figma.com/community/plugin/744987207861965946/Shadow-picker
*/
:root {
    --shadow-l1: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
}

[data-scheme="light"] {
    --pre-text-color: #{$nord4};
    --pre-background-color: #{$nord0};
    @import "partials/highlight/light.scss";
}

[data-scheme="dark"] {
    --pre-text-color: #{$nord4};
    --pre-background-color: #{$nord0};
    @import "partials/highlight/dark.scss";
}

:root {
    --menu-icon-separation: 40px;
    --container-padding: 15px;
    --widget-separation: var(--section-separation);
}
